
body {
    background-image: linear-gradient(to bottom, #FFCC99, #FFFFFF);
    background-repeat: no-repeat;
    color: #663300;
}
header {
    background-color: #663300;
    color: #FFCC99;
    line-height: 400%;
    background-image: url(./Images/Pawn.png);
    background-size: 60px;
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
}
nav {
    text-align: center;
    word-spacing: 10px;
}
nav a{
    text-decoration: none;
    transition: color 2s;
    color: #663300;
}
nav a:hover {
    color: red;
}
section {
    float: left;
    width: 45%;
    padding-left: 2em;
    padding-right: 2em;
}
main {
    font-size: 20px;
}
footer {
    text-align: center;
}
div {
    clear:both;
}
table {
    border: solid 2px #663300;
    border-collapse: collapse;
}
td {
    padding: 0.5em;
    border: solid 2px #663300;
    text-align: center;
}
th {
    padding: 0.5em;
    border: solid 2px #663300;
}
label {
    float: left;
    display: block;
    text-align: right;
    width: 140px;
    padding-right:5px;
}
input {
    display: block;
    margin-bottom: 20px;
}
.text {
    text-align: left;
}
#imageone {
    width: 50%;
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#imagetwo {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#imagedesc {
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.centertext {
    text-align: center;
}